<!DOCTYPE html>
<html>

<head>
    <title>Sounds Demo</title>
    <script src="./static.js"></script>
</head>

<body>

<% if (!!sounds) { %>
    <ul>
        <% for(var i in sounds) { %>
            <% if (sounds.hasOwnProperty(i)) { %>
                <li><a class="button" data-speech="<%= sounds[i] %>"><%= sounds[i] %></a></li>
            <% } %>
        <% } %>
    </ul>
<% } %>

</body>

</html>