<!DOCTYPE html>
<html>

<head>
    <title>Sounds Demo</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="./static.js"></script>
</head>

<body>

<% if (!!sounds) { %>
    <div class="container tiptop">
        <% for(var i in sounds) { %>
            <div class="each">
                <% if (sounds.hasOwnProperty(i)) { %>
                    <% var grouped = sounds[i]; %>
                    <h2 class="title"><%= i %></h2>
                    <% for(var j in grouped) { %>
                        <% if (grouped.hasOwnProperty(j)) { %>
                            <div class="each">
                                <a class="button btn btn-primary btn-lg" href="#" data-speech="<%= grouped[j].speak %>"><%= grouped[j].text %></a>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
<% } %>

</body>

</html>