<!DOCTYPE html>
<html>

<head>
    <title>Sounds Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="./static.js"></script>
</head>

<body>

<% if (!!sounds) { %>
    <div>
        <% for(var i in sounds) { %>
            <% if (sounds.hasOwnProperty(i)) { %>
                <div><a class="button btn btn-primary btn-lg" href="#" data-speech="<%= sounds[i] %>"><%= sounds[i] %></a></div>
            <% } %>
        <% } %>
    </div>
<% } %>

</body>

</html>