<!DOCTYPE html>
<html>

<head>
    <title>Sounds Demo</title>
</head>

<body>

<% if (!!sounds) { %>
    <ul>
        <% for(var i in sounds) { %>
            <% if (sounds.hasOwnProperty(i)) { %>
                <li><%= sounds[i] %></li>
            <% } %>
        <% } %>
    </ul>
<% } %>

</body>

</html>